name: Build and Deploy to Azure Container Registry

on:
  push:
    branches:
      - main

env:
  AZURE_CONTAINER_REGISTRY: sa2imut7hmo46cosureg.azurecr.io  # Update if needed
  IMAGE_NAME: chat-app                                       # Update if needed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: src

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.AZURE_CONTAINER_REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build \
            --build-arg ENV_CONTENT="${{ secrets.ENV }}" \
            -t ${{ env.AZURE_CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:latest src/
          docker push ${{ env.AZURE_CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
